/**********************************
               RESET 
***********************************/

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}


/**********************************
            SPECIFICS
***********************************/

/* header */
.header-container {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* hero section */
.hero-container {
  background-image: url(../img/jumbo.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding: 50px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-button-section {
  display: flex;
  gap: 20px;
}


/* main content */
.section-image {
  width: 95%;
  max-width: 1000px;
}

.section-title {
  font-size: 2rem;
}

.section-text {
  padding-top: 20px;
  word-spacing: 5px;
}

.main-content-container {
  padding-top: 100px;
  padding-bottom: 100px;
}

/* bottom section */

.bottom-section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.bottom-text {
  font-size: 1.5rem;
  padding-bottom: 50px;
  padding-top: 40px;
  padding-left: 50px;
  padding-right: 50px;
  background-image: url(../img/stars.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 40px
}

/* footer  */

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-title {
  font-size: 1.5rem;
  color: rgb(114, 137, 218);
}

.language-socials-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.footer-top-container {
  padding-top: 80px;
  padding-bottom: 50px;
  border-bottom: 1px solid rgb(114, 137, 218);
}

.flag-image {
  max-width: 20px;
}

.language {
  color: white;
  font-size: 0.8rem;
}

.social-list {
  display: flex;
  flex-direction: row;
  color: white;
  gap: 5px;
}


.footer-heading {
  font-size: 0.8rem;
  color: rgb(114, 137, 218);
  padding-bottom: 10px;
}

.footer-link-list {
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-bottom-container {
  padding-top: 20px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/**********************************
            UTILITIES 
***********************************/

.wave {
  background-image: url(../img/wave.svg);
  width: 100%;
  min-height: 50px;
  opacity: 0.1;
  margin: 0;
}

.white-wave {
  background-image: url(../img/wave.svg);
  width: 100%;
  min-height: 50px;
  margin: 0;
  transform: rotate(180deg);
  opacity: 0.1;
}

body {
  font-family: sans-serif;
}


.flex {
  display: flex;
  flex-direction: row;
}

.order-1 {
  order: 1;
}


.gap {
  gap: 15px;
}

/* font styles  */

.small-text {
  font-size: 0.8rem;
}

.t-white {
  color: white;
}

.text-center {
  text-align: center;
}

/* background colors */

/* HEADER COLOR */
.bg-skyblue {
  background-color: rgb(37, 94, 233);
}

.bg-white {
  background-color: white;
}

.bg-lightgray {
  background-color: rgb(228, 228, 228);
}

.bg-darkgray {
  background-color: rgb(35, 39, 42);
}

/* button styles  */

/* anchor tag button style  */
.a-button {
  padding: 12px;
  border: none;
  border-radius: 20px;
}

.button-white {
  background-color: white;
  color: black;
}

.button-black {
  background-color: black;
  color: white;
}

.button-blue {
  background-color: rgb(114, 137, 218);
  color: white;
}


/* width */

.w-20 {
  width: 20%;
}

.w-25 {
  width: 25%;
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
  max-width: 1000px;
}

.w-80 {
  width: 80%;
  max-width: 1000px;
}


/* center content */

.content-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-center-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.content-center-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


/* padding  */


.padding-20 {
  padding: 20px;
}