/**********************************
               RESET 
***********************************/

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}


/**********************************
            SPECIFICS
***********************************/

/* header */
.header-container {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* hero section */
.hero-container {
  background-image: url(../img/jumbo.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding: 50px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-button-section {
  display: flex;
  gap: 20px;
}


/* main content */
.section-image {
  width: 95%;
  max-width: 1000px;
}

.section-title {
  font-size: 2rem;
}

.section-text {
  padding-top: 20px;
  word-spacing: 5px;
}

.main-content-container {
  padding-top: 100px;
  padding-bottom: 100px;
}

/* bottom section */

.bottom-section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.bottom-text {
    font-size: 1.5rem;
    padding-bottom: 50px;
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 40px
}

/**********************************
            UTILITIES 
***********************************/

body {
  font-family: sans-serif;
}


.flex {
  display: flex;
  flex-direction: row;
}

.order-1 {
  order: 1;
}


.margin-auto {
  margin: 0 auto;
}

.gap {
  gap: 10px;
}

/* font styles  */

.small-text {
  font-size: 0.8rem;
}

.t-white {
  color: white;
}

.text-center {
  text-align: center;
}

/* background colors */

/* HEADER COLOR */
.bg-skyblue {
  background-color: rgb(37, 94, 233);
}

.bg-white {
  background-color: white;
}

.bg-gold {
  background-color: darkgoldenrod;
}

.bg-lightblue {
  background-color: lightblue;
}

.bg-blue {
  background-color: blue;
}

.bg-plum {
  background-color: rgb(198, 105, 198);
}

.bg-royalblue {
  background-color: royalblue;
}

.bg-pink {
  background-color: pink;
}

.bg-lightgray {
  background-color: lightgray;
}

.bg-green {
  background-color: forestgreen;
}

.bg-salmon {
  background-color: salmon;
}

.bg-darkcyan {
  background-color: darkcyan;
}

.bg-aquamarine {
  background-color: aquamarine;
}

.bg-darkgray {
  background-color: darkslategray;
}

/* button styles  */

/* anchor tag button style  */
.a-button {
  padding: 12px;
  border: none;
  border-radius: 20px;
  text-decoration: none;
}

.button-white {
  background-color: white;
  color: black;
}

.button-black {
  background-color: black;
  color: white;
}

.button-blue {
  background-color: rgb(114, 137, 218);
  color: white;
}

/* border */

.border {
  border: 1px dashed black;
}

.border-white {
  border: 1px dashed white;
}

.border-solid {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

/* width */

.w-20 {
  width: 20%;
}

.w-25 {
  width: 25%;
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
  max-width: 1000px;
}

.w-80 {
  width: 80%;
  max-width: 1000px;
}

/* TODO: change to min-height  */
/* height */

.height-40 {
  height: 40px;
}

.height-50 {
  height: 50px;
}

.height-60 {
  height: 60px;
}


.height-300 {
  height: 300px;
}

.height-500 {
  height: 500px;
}

.height-700 {
  height: 700px;
}

/* TODO: use paddign instead of height proportion */

.height-proportion-80 {
  height: 80%;
}

.height-proportion-90 {
  height: 90%;
}

.height-proportion-100 {
  height: 100%;
}

/* center content */

.content-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-center-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.content-center-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.content-center-down {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.space-between {
  justify-content: space-between;
  align-items: center;
}

.flex-end {
  align-items: flex-end;
}

/* margin */

.margin-bottom-5 {
  margin-bottom: 5px;
}


/* padding  */

.padding-5 {
  padding: 5px;
}

.padding-20 {
  padding: 20px;
}



/* TODO: make a class .container to group some properties */